.gallery {
  max-width: 940px;
  box-sizing: content-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 155px;
}

.gallery_block {
  box-sizing: content-box;

  
  border: 1px solid #e6e6e6;
  text-align: left;
  padding: 23px;
  padding-top: 38px;
}

.gallery_head {
  width: 250px;
  font-family: "OpenSans-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #48555b;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 13px;
}

.gallery_text {
  width: 250px;
  font-family: "OpenSans-Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #48555b;
  text-align: left;
  margin-bottom: 39px;
}
