.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    width: 940px;
    height: 65px;
    margin: 0 auto;
    }

.hr {
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
}