.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    width: 940px;
    height: 65px;
    background-color: #eb8787;
    margin: 0 auto;
    }