.newsletter {
  height: 100px;
  background-color: #171819;
  display: flex;
  justify-content: center;
  padding: 30px 0 30px;
  box-sizing: border-box;
}

.newsletter_text {
  font-family: "OpenSans-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

input {
  box-sizing: border-box;
  width: 250px;
  height: 40px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #979797;
  padding: 16px 11px;
  margin-left: 70px;
}

button {
  width: 150px;
  height: 40px;
  background-color: #00a4e5;
  border: 0px;
  color: #ffffff;
}
