@import url("./reset.css");
@import url("./header.css");
@import url("./menu.css");
@import url("./navigation.css");

html {
    scroll-behavior: smooth;
  }

body {
    font-family: "OpenSans-Medium", sans-serif;
    width: 400;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
}

.container {
  max-width: 940px;
  box-sizing: content-box;
  margin: 0 auto;
}

  @font-face {
    font-family: "OpenSans-Medium";
    src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "BebasNeue-Regular";
    src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }