@import url("./reset.css");
@import url("./header.css");
@import url("./menu.css");
@import url("./navigation.css");
@import url("./story.css");
@import url("./capa.css");
@import url("./gallery.css");
@import url("./want.css");
@import url("./footer.css");
@import url("./newsletter.css");


html {
    scroll-behavior: smooth;
  }

body {
    font-family: "OpenSans-Medium", sans-serif;
    width: 400;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
}

.container {
  max-width: 940px;
  box-sizing: content-box;
  margin: 0 auto;
}

  @font-face {
    font-family: "OpenSans-Medium";
    src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  
  @font-face {
    font-family: "OpenSans-Bold";
    src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "BebasNeue-Regular";
    src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  .button_text{
    text-decoration: none;
    font-family: "OpenSans-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF
  }

  .button{
    width: 150px;
    height: 40px;
    background-color: #00a4e5;
    padding: 11px;
    box-sizing: border-box;
  }